[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git@github.com:mileszs/ack.vim.git
[submodule "vim/bundle/vim-better-whitespace"]
	path = vim/bundle/vim-better-whitespace
	url = git@github.com:ntpeters/vim-better-whitespace.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "vim/bundle/colorschemes"]
	path = vim/bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/bundle/presenting"]
	path = vim/bundle/presenting
	url = git@github.com:sotte/presenting.vim.git
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "vim/bundle/vimux"]
	path = vim/bundle/vimux
	url = git@github.com:benmills/vimux.git
[submodule "vim/bundle/vitality"]
	path = vim/bundle/vitality
	url = http://github.com/sjl/vitality.vim
  ignore = dirty
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
  ignore = dirty
[submodule "vim/bundle/csv"]
	path = vim/bundle/csv
	url = git@github.com:chrisbra/csv.vim.git
[submodule "vim/bundle/tabline"]
	path = vim/bundle/tabline
	url = git://github.com/mkitt/tabline.vim.git
  ignore = dirty
[submodule "vim/bundle/tmuxline"]
	path = vim/bundle/tmuxline
	url = git@github.com:edkolev/tmuxline.vim.git
